version: '3.8'
services:
  zookeeper:
    image: bitnami/zookeeper:3
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"

  kafka:
    image: bitnami/kafka:3
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    depends_on:
      - zookeeper

  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Password@123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql

  producer:
    build: .
    command: ["go", "run", "./cmd/producer"]
    depends_on:
      - kafka

  consumer:
    build: .
    command: ["go", "run", "./cmd/consumer"]
    depends_on:
      - kafka
      - mssql
      - redis

  api:
    build: .
    command: ["go", "run", "./cmd/api"]
    ports:
      - "8080:8080"
    depends_on:
      - mssql
