version: "3.9"

networks:
  kafka-network:
    driver: bridge

volumes:
  postgres-data:

services:
  # ----------- Infrastructure Services -----------

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - kafka-network

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      - zookeeper
    networks:
      - kafka-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - kafka-network

  mssql:
      image: mcr.microsoft.com/mssql/server:2022-latest
      container_name: mssql
      environment:
        ACCEPT_EULA: "Y"
        SA_PASSWORD: "StrongPass@123"
        MSSQL_PID: "Developer"
      ports:
        - "1433:1433"
      networks:
        - kafka-network

  # ----------- Application Services -----------

  producer:
    build: .
    container_name: producer
    command: ["go", "run", "./cmd/producer"]
    depends_on:
      - kafka
    networks:
      - kafka-network

  consumer:
    build: .
    container_name: consumer
    command: ["go", "run", "./cmd/consumer"]
    depends_on:
      - kafka
      - redis
      - mssql
    environment:
      - DB_CONN=sqlserver://sa:StrongPass@123@mssql:1433?database=eventdb
      - KAFKA_BROKER=kafka:9092
      - REDIS_ADDR=redis:6379
    networks:
      - kafka-network

  api:
    build: .
    container_name: api
    command: ["go", "run", "./cmd/api"]
    ports:
      - "8080:8080"
    depends_on:
      - mssql
    environment:
      - DB_CONN=sqlserver://sa:StrongPass@123@mssql:1433?database=eventdb
      - DB_HOST=mssql
      - DB_USER=sa
      - DB_PASSWORD=StrongPass@123
      - DB_NAME=eventdb
      - API_PORT=8080
    networks:
      - kafka-network