version: "3.9"

networks:
  kafka-network:
    driver: bridge

volumes:
  postgres-data:

services:
  # ----------- Infrastructure Services -----------

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - kafka-network

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      - zookeeper
    networks:
      - kafka-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - kafka-network

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: eventdb
    ports:
      - "5432:5432"
    networks:
      - kafka-network

  # ----------- Application Services -----------

  producer:
    build: .
    container_name: producer
    command: ["go", "run", "./cmd/producer"]
    depends_on:
      - kafka
    networks:
      - kafka-network

  consumer:
    build: .
    container_name: consumer
    command: ["go", "run", "./cmd/consumer"]
    depends_on:
      - kafka
      - redis
      - postgres
    networks:
      - kafka-network

  api:
    build: .
    container_name: api
    command: ["go", "run", "./cmd/api"]
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - kafka-network
